In [175]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect(r'DataUsers.db')

In [181]:
Apuntador.execute("""
CREATE TABLE IF NOT EXISTS Usuarios (
                    Nombre_Usuario TEXT PRIMARY KEY NOT NULL UNIQUE,
                    Contraseña TEXT NOT NULL,
                    Rol TEXT DEFAULT 'Estudiante',
                    Email TEXT NOT NULL DEFAULT 'noemail@xyz.com'
                  );
                """)

In [ ]:
Apuntador.execute("INSERT INTO Usuarios (Nombre_Usuario, Contraseña, Rol, Email) VALUES ('Angel','Arevalo','Estudiante','araev@gmail.com')")

In [153]:
Apuntador.execute("INSERT INTO Usuarios (Nombre_Usuario, Contraseña) VALUES ('Ariel','Arevalo')")

In [179]:
Apuntador.execute("""DROP TABLE IF EXISTS Usuarios;""")
#Despues de ejecutar este comando, se debe cerrar la base de datos. Es diferente a """DELTE FROM Users""" porque aqui solo borra la informacion de la tabla, pero sin borrarla del todo. (LEER README)

In [ ]:
df = pd.read_sql_query("SELECT * FROM Usuarios;", Apuntador)
#Devuelve la tabala Users COMPLETA

In [182]:
df = pd.read_sql("""PRAGMA table_info(Usuarios)""", Apuntador)
#Nos da la informacion de las columnas

In [124]:
df = pd.read_sql("""SELECT * FROM Usuarios WHERE Rol = 'erv' LIMIT 2""", Apuntador)
#WHRE permite extraer la informacion que concuerde con cierto parametro que debera ir en ''; LIMIT como su nomnbre lo indica, limita el numero de resultados que entrega

In [183]:
df

   cid            name  type  notnull         dflt_value  pk
0    0  Nombre_Usuario  TEXT        1               None   1
1    1      Contraseña  TEXT        1               None   0
2    2             Rol  TEXT        0       'Estudiante'   0
3    3           Email  TEXT        1  'noemail@xyz.com'   0

In [174]:
Apuntador.commit()
Apuntador.close()