In [1]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect(r'..\DataBase\DataUsers.db')

In [3]:
Apuntador.execute('''
                    CREATE TABLE IF NOT EXISTS 'Usuarios_Registrados' (
                        'Id' INT AUTO_INCREMENT,
                        'Nombre_Usuario' TEXT PRIMARY KEY NOT NULL,
                        'Contraseña' TEXT NOT NULL,
                        'Rol' INT NOT NULL,
                        'Email' TEXT NOT NULL,
                        CHECK(Rol IN(1,2))
                        )
                ''')

In [42]:
Apuntador.execute('''
                    CREATE TABLE IF NOT EXISTS 'Roles' (
                        'Id_Rol' INT PRIMARY KEY,
                        'Rol' TEXT NOT NULL UNIQUE,
                        CHECK(Rol IN("Estudiante", "Profesor")),
                        FOREIGN KEY(Id_Rol) REFERENCES Usuarios_Registrados(Rol)
                        )
                ''')

In [131]:
Apuntador.execute("INSERT INTO Roles (Id_Rol, Rol) VALUES ('2', 'Profesor')")

IntegrityError: CHECK constraint failed: Rol IN("Estudiante", "Profesor")

In [7]:
a = Apuntador.execute("SELECT MAX(Id) FROM Usuarios_Registrados")
a = a.fetchone()[0]
num = int(a)+1 if (a is not None) else 1
Apuntador.execute(f"INSERT INTO Usuarios_Registrados (Id, Nombre_Usuario, Contraseña, Rol, Email) VALUES ({num},'JoseJose', '12345678', 2, 'a')")

In [12]:
df = pd.read_sql_query("PRAGMA table_info(Usuarios_Registrados)", Apuntador)

In [53]:
Apuntador.execute("DELETE FROM Usuarios_Registrados")

In [7]:
Apuntador.execute("DROP TABLE Usuarios_Registrados")

In [11]:
b = Apuntador.execute("SELECT * FROM Usuarios_Registrados WHERE Nombre_Usuario = 'jo'")
b = b.fetchall()
print(b == [])

False

In [11]:
df = pd.read_sql_query("SELECT Usuarios_Registrados.Nombre_Usuario, Roles.Rol FROM Usuarios_Registrados JOIN Roles ON Usuarios_Registrados.Rol = Roles.Id_Rol", Apuntador)

In [196]:
b = Apuntador.execute("PRAGMA table_info('Usuarios_Registrados')")
b = bool(b.fetchall())
print(b)

True

In [ ]:
df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", Apuntador)

In [2]:
b = Apuntador.execute("SELECT name FROM sqlite_master WHERE type='table'")
b = b.fetchall()
for i in range(len(b)):
    Apuntador.execute(f"DROP TABLE '{b[i][0]}'")

#CUIDADO Elimina todas las tablas

In [95]:
df = pd.read_sql_query("SELECT * FROM Aulas;", Apuntador)

In [ ]:
df = pd.read_sql_query("SELECT get_max_id('Usuarios_Registrados');", Apuntador)

In [96]:
df

   Id_Aula          Aula
0        1  Aula_ghj-740
1        2  Aula_dzg-490
2        3  Aula_zmy-279
3        4  Aula_adf-309

In [3]:
Apuntador.commit()
Apuntador.close()