In [1]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect(r'..\DataBase\DataUsers.db')

In [2]:
hd = pd.read_sql_query("SELECT * FROM Mundo1_okp000", Apuntador)

In [3]:
hd

  Nombre_Estudiante  1.Nivel_1  1.Nivel_2  1.Nivel_3  1.Nivel_4
0     Angel Arevalo         -1         -1         -1         -1

In [1]:
import sqlite3

conn = sqlite3.connect(r'..\DataBase\DataUsers.db')

cur = conn.cursor()

cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cur.fetchall()

for table in tables:
    cur.execute("DROP TABLE IF EXISTS " + table[0])

conn.commit()

cur.close()
conn.close()

print("All data in the database has been deleted.")

All data in the database has been deleted.

In [9]:
Apuntador.commit()
Apuntador.close()