In [76]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect(r'C:\Users\Angel Arevalo\OneDrive\Documentos\GitHub\Null\Back_end\DataBase\DataUsers.db')

In [67]:
Apuntador.execute('''
CREATE TABLE IF NOT EXISTS Usuarios (Nombre_Usuario TEXT,
                   Contrase単a TEXT, Rol TEXT);''')

In [52]:
Apuntador.execute("INSERT INTO Usuarios (Nombre_Usuario, Contrase単a, Rol) VALUES ('Angel','Arevalo','erv')")

In [77]:
df = pd.read_sql_query("SELECT * FROM Usuarios;", Apuntador)

In [78]:
df

  Nombre_Usuario Contrase単a         Rol
0         sdgash  r1234790'  Estudiante
1         sdgash  r1234790'  Estudiante
2         sdgash  r1234790'  Estudiante
3         sdgash  r1234790'  Estudiante

In [79]:
Apuntador.commit()
Apuntador.close()