In [1]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect(r'DataUsers.db')

In [30]:
Apuntador.execute('''
CREATE TABLE IF NOT EXISTS Usuarios (Nombre_Usuario TEXT,
                   Contraseña TEXT, Rol TEXT, Email TEXT);''')

In [6]:
Apuntador.execute("INSERT INTO Usuarios (Nombre_Usuario, Contraseña, Rol) VALUES ('Angel','Arevalo','erv')")

In [38]:
Apuntador.execute("DELETE FROM Usuarios")

In [2]:
df = pd.read_sql_query("SELECT * FROM Usuarios;", Apuntador)

In [3]:
df

   Nombre_Usuario Contraseña         Rol                Email
0   Angel Arevalo   ;<=>?@AB  Estudiante  ejemplo@UNAL.EDU.CO
1  Ariel Cardenas   BA@?>=<;    Profesor  ejemplo@hotmail.com
2           Jesús  OzkOzkOzk  Estudiante         @UNAL.EDU.CO

In [5]:
Apuntador.commit()
Apuntador.close()

ProgrammingError: Cannot operate on a closed database.