In [29]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect(r'DataUsers.db')

In [30]:
Apuntador.execute('''
CREATE TABLE IF NOT EXISTS Usuarios (Nombre_Usuario TEXT,
                   Contraseña TEXT, Rol TEXT, Email TEXT);''')

In [4]:
Apuntador.execute("INSERT INTO Usuarios (Nombre_Usuario, Contraseña, Rol) VALUES ('Angel','Arevalo','erv')")

In [31]:
df = pd.read_sql_query("SELECT * FROM Usuarios;", Apuntador)

In [32]:
df

   Nombre_Usuario      Contraseña                 Rol Email
0           Angel         Arevalo                 erv  None
1           Angel        12345678  {'0': {}, '1': {}}  None
2           Angel       r1234790'                None  None
3           Angel       r1234790'                None  None
4           Angel        12345678                None  None
5           Angel        12345678                None  None
6           Angel        ;<=>?@AB                None  None
7           Angel         Arevalo                 erv  None
8           Angel        ;<=>?@AB  {'0': {}, '1': {}}  None
9           Angel        ;<=>?@AB  {'0': {}, '1': {}}  None
10          Angel  K|okvyk}qoq                None  None
11          Angel  K|okvyk}qoq                None  None

In [33]:
Apuntador.commit()
Apuntador.close()