In [39]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect(r'C:\Users\Angel Arevalo\OneDrive\Documentos\GitHub\Null\Back_end\DataBase\DataUsers.db')

In [29]:
Apuntador.execute('''
CREATE TABLE IF NOT EXISTS Usuarios (Nombre_Usuario TEXT,
                   Contrase単a TEXT, Rol TEXT, Email TEXT);''')

In [30]:
Apuntador.execute("INSERT INTO Usuarios (Nombre_Usuario, Contrase単a, Rol) VALUES ('Angel','Arevalo','erv')")

In [41]:
df = pd.read_sql_query("SELECT * FROM Usuarios;", Apuntador)

In [44]:
df

  Nombre_Usuario Contrase単a                 Rol Email
0          Angel    Arevalo                 erv  None
1          Angel   12345678  {'0': {}, '1': {}}  None

In [45]:
Apuntador.commit()
Apuntador.close()

ProgrammingError: Cannot operate on a closed database.