In [1]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect(r'DataUsers.db')

In [4]:
Apuntador.execute('''
                    CREATE TABLE IF NOT EXISTS 'Usuarios_Registrados' (
                        'Id' INT AUTO_INCREMENT,
                        'Nombre_Usuario' TEXT PRIMARY KEY NOT NULL,
                        'Contrase単a' TEXT NOT NULL,
                        'Rol' INT NOT NULL,
                        'Email' TEXT NOT NULL,
                        CHECK(Rol IN(1,2))
                        )
                ''')

In [42]:
Apuntador.execute('''
                    CREATE TABLE IF NOT EXISTS 'Roles' (
                        'Id_Rol' INT PRIMARY KEY,
                        'Rol' TEXT NOT NULL UNIQUE,
                        CHECK(Rol IN("Estudiante", "Profesor")),
                        FOREIGN KEY(Id_Rol) REFERENCES Usuarios_Registrados(Rol)
                        )
                ''')

In [131]:
Apuntador.execute("INSERT INTO Roles (Id_Rol, Rol) VALUES ('2', 'Profesor')")

IntegrityError: CHECK constraint failed: Rol IN("Estudiante", "Profesor")

In [11]:
a = Apuntador.execute("SELECT MAX(Id) FROM Usuarios_Registrados")
a = a.fetchone()[0]
num = int(a)+1 if (a is not None) else 1
Apuntador.execute(f"INSERT INTO Usuarios_Registrados (Id, Nombre_Usuario, Contrase単a, Rol, Email) VALUES ({num},'PepeSierra', '12345678', 2, 'a')")

In [12]:
df = pd.read_sql_query("PRAGMA table_info(Usuarios_Registrados)", Apuntador)

In [53]:
Apuntador.execute("DELETE FROM Usuarios_Registrados")

In [7]:
Apuntador.execute("DROP TABLE Usuarios_Registrados")

In [190]:
b = Apuntador.execute("SELECT * FROM Usuarios_Registrados")
b = b.fetchall()
print(b)

[(1, 'Ariel_C', ';<=>?@AB', 1, 'noe@gmail.com')]

In [11]:
df = pd.read_sql_query("SELECT Usuarios_Registrados.Nombre_Usuario, Roles.Rol FROM Usuarios_Registrados JOIN Roles ON Usuarios_Registrados.Rol = Roles.Id_Rol", Apuntador)

In [196]:
b = Apuntador.execute("PRAGMA table_info('Usuarios_Registrados')")
b = bool(b.fetchall())
print(b)

True

In [161]:
df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", Apuntador)

In [6]:
b = Apuntador.execute("SELECT name FROM sqlite_master WHERE type='table'")
b = b.fetchall()
for i in range(len(b)):
    Apuntador.execute(f"DROP TABLE '{b[i][0]}'")

#Cuidado

In [2]:
df = pd.read_sql_query("SELECT * FROM Usuarios_Registrados;", Apuntador)

In [3]:
df

   Id Nombre_Usuario Contrase単a  Rol             Email
0   1         Arielo    1245678    1  sertgv@gmial.com

In [4]:
Apuntador.commit()
Apuntador.close()