In [2]:
import sqlite3 as sql
import pandas as pd 

Apuntador = sql.connect('DataUsers.db')

In [3]:
Apuntador.execute('''
CREATE TABLE IF NOT EXISTS Usuarios (Nombre_Usuario TEXT,
                   Contraseña TEXT, Rol TEXT);''')

In [4]:
df = pd.read_sql_query("SELECT * FROM Usuarios;", Apuntador)

In [5]:
df

  Nombre_Usuario   Contraseña         Rol
0  Angel Arevalo    Forero Sa  Estudiante
1         Angel     Forero Sa  Estudiante
2                                    None
3           wrwg  wegweg32twg  Estudiante
4         sdgash    r1234790'  Estudiante
5         sdgash    r1234790'  Estudiante